---
bash_aliases:
  backup_ls: find . -type f -name '*~'
  backup_rm: find . -type f -name '*~' -delete
  fix_perms: find . \( -type f -exec chmod 644 {} + \) -o \( -type d -exec chmod 755 {} + \)
  ipt: sudo iptables --line-numbers -nvL
  ip6t: sudo ip6tables --line-numbers -nvL
  ssh_kill: pkill -u "$USER" -f '\[mux\]'
  fcns: compgen -A function | grep -v '^_'

bash_environment:
  EDITOR: vim
  HISTCONTROL: ignoreboth
  HISTTIMEFORMAT: "[%F %T] "
  HISTSIZE: &bash_history_size 9999
  HISTFILESIZE: *bash_history_size
  LC_ALL: &bash_locale en_US.UTF-8
  LANG: *bash_locale
  PAGER: less -X
  PROMPT_DIRTRIM: 4

bash_custom_config:
  "bash history options": |-
    shopt -s histappend
    shopt -s histverify

bash_functions:
  ssl_cert_expire: |-
    timeout 10 openssl s_client -servername $1 -connect $1:443 -showcerts </dev/null 2>/dev/null \
    | openssl x509 -noout -dates 2>/dev/null || echo "Failed to retrieve certificate for $1"

bash_prompt: |-
  __bash_prompt() {
      # switch arrow color to red if exit code is non-zero
      __bp_arrow() {
        local exit_code=$?
        [[ $exit_code -ne 0 ]] && echo -n $'\033[1;31m➜\033[0m' || echo -n "➜"

        # preserve exit_code
        return $exit_code
      }

      # display error code if non-zero in red
      __bp_error() {
        local exit_code=$?
        [[ $exit_code -ne 0 ]] && echo -n $'\033[1;31m'"[$exit_code]"$'\033[0m '

        # preserve exit_code
        return $exit_code
      }

      # display the git branch in yellow if one exists
      __bp_git() {
        local branch=$(git --no-optional-locks symbolic-ref --short HEAD 2>/dev/null || git --no-optional-locks rev-parse --short HEAD 2>/dev/null)
        [[ -n "$branch" ]] && echo -n $'\033[33m'" (${branch})"$'\033[0m'
      }

      # Username in green
      local username="\[\033[32m\]\u\[\033[0m\]@\[\033[1;34m\]\H\[\033[0m\]"

      # Current path in blue
      local path="\[\033[1;34m\]\w\[\033[0m\]"

      # create full prompt
      PS1="\$(__bp_error)${username} \$(__bp_arrow) ${path}\$(__bp_git)\n$ "
      unset -f __bash_prompt
  }
  __bash_prompt
